HWProject/rik-it-system/src/main/java/ru/otus/rik/web/jaxws/salary/service/RikSalaryService_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://service.salary.jaxws.web.rik.otus.ru/" xmlns:tns="http://service.salary.jaxws.web.rik.otus.ru/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="averageSalary" type="tns:averageSalary"/>

  <xs:element name="averageSalaryResponse" type="tns:averageSalaryResponse"/>

  <xs:complexType name="averageSalary">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="averageSalaryResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

